* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --yellow-color: #FCA311;
  --dark-color: #14213D;
}

body {
  background-color: var(--dark-color);
  font-family: 'Inter', sans-serif;
}

input, button {
  font-family: 'Inter', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Poppins', sans-serif;
}